:root {
  --base-padding: 20px;
  --base-margin: 20px;
  --base-border-radius: 20px;

  --wrap-margin: 30px;
  --wrap-padding: 30px;

  --content-margin: 25px;
  --content-padding: 10px;
  --input-height: 40px;
  --input-border-radius: 8px;
  --input-padding: 7px;

  --color-rignt-gray: #cacaca;
  --color-gray: #535353;
  --color-rignt-blue: #a7dcff;
  --color-blue: #006aff;

  --box-shadow-gray: #dbf0ff;

  --thin: 100;
  --bold: 600;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "S-CoreDream-3Light";
}

body {
  margin: 0 auto;
  width: 80vw;
  min-width: 800px;
}

.wrap {
  margin: var(--wrap-margin);
  padding: var(--wrap-padding);

  border-radius: 50px;
  box-shadow: 3px 3px 30px 10px var(--box-shadow-gray);
}

header {
  display: flex;
  justify-content: space-between;
  margin: var(--base-margin) 0;
  height: 5vh;

  line-height: 5vh;
}

header h3 {
  font-weight: var(--thin);
  color: var(--color-gray);
}

.form-article {
  margin: var(--base-margin) 0;
  padding: var(--base-padding);

  border-bottom: 1px solid var(--color-rignt-blue);
  color: var(--color-gray);
}

.form-article form {
  display: flex;
}

.form-article h1 {
  line-height: var(--input-height);
}

.form-article input,
.form-article button {
  border-radius: var(--input-border-radius);
}

.form-article input {
  margin-left: var(--content-margin);
  margin-right: calc(var(--content-margin) * 3);
  padding-left: var(--content-padding);
  width: 25vw;

  border: 1px solid var(--color-rignt-gray);
}

.form-article button {
  width: 15vw;
  border: none;
  background-color: var(--color-blue);

  color: #fff;
  font-size: 1.6rem;
  font-weight: var(--bold);
  cursor: pointer;
}

article {
  padding: var(--content-padding);
}

section {
  height: 34vh;
  overflow-x: scroll;
}

.todo-title,
.ongoing-title,
.done-title {
  padding-bottom: var(--base-padding);

  font-size: 3rem;
}

.todo-title {
  color: var(--color-blue);
}

.ongoing-title {
  color: var(--color-rignt-blue);
}

.done-title {
  color: var(--color-rignt-gray);
}

section ul li {
  display: inline-block;
  margin: 0 var(--content-margin) var(--content-margin) var(--content-margin);
  padding: var(--content-padding);
  width: 200px;
  height: 200px;

  list-style: none;
  border-radius: var(--base-border-radius);
  box-shadow: 3px 3px 10px 3px var(--box-shadow-gray);
}

.todo-section ul li {
  border: 1px solid var(--color-blue);
}

.ongoing-section ul li {
  border: 1px solid var(--color-rignt-blue);
}

.done-section ul li {
  border: 1px solid var(--color-rignt-gray);
}

section ul li h2 {
  text-align: center;
  padding-bottom: var(--input-padding);
}

section ul li p {
  height: 48%;
}

section ul li div {
  /* border: 1px solid red; */
  display: flex;
  padding-bottom: var(--input-padding);
}

section ul li input {
  accent-color: var(--color-rignt-blue);
}

section ul li div p {
  /* color: red; */
  padding: 0 3px;
  /* float: left; */
}

section ul li button {
  width: 180px;
  height: 30px;

  border-style: none;
  border-radius: var(--input-border-radius);
  background-color: var(--color-rignt-blue);
  color: #fff;
}
